$primary: #300b5b;
$primary-darken-1: #21004b;
$primary-lighten-1: #ad6de7;
$secondary: #ff5caa;

Button {
  background: $primary;
  color: $secondary;
  border: none;
}

Button:hover {
  background: $primary-darken-1;
  color: $secondary;
  border: none;
}

Input {
  border: tall $primary;
}

Footer {
  background: $primary;
}

Footer > .footer--highlight {
  background: $primary-lighten-1;
}

Footer > .footer--highlight-key {
  background: $secondary;
  text-style: bold;
}

Footer > .footer--key {
  text-style: bold;
  background: $primary-darken-1;
}

Switch {
  border: tall $primary;
  background: $panel;
  height: auto;
  width: auto;
  padding: 0 2;
}

Switch:focus {
  border: tall $primary;
}

Switch.-on > .switch--slider {
  color: $secondary;
}

#body {
  margin-top: 1;
  scrollbar-color: $primary-lighten-1;
  scrollbar-color-hover: $primary-lighten-1;
  scrollbar-color-active: $primary;
}

.message-centered {
  text-align: center;
  padding-top: 1;
}

.bottom-spacer {
  margin-bottom: 1;
}

.sidebar {
  background: $primary;
  overflow: auto;
  width: auto;
  min-width: 30;
  height: 100%;
  dock: left;
  margin-right: 2;
  dock: left;
}

ListItem {
  background: $primary-darken-1;
  margin: 1 1;
}
ListItem > Widget :hover {
  background: $primary-lighten-1;
}

ListView:focus > ListItem.--highlight {
  background: $secondary;
}

#tree-view {
  scrollbar-gutter: stable;
  overflow: auto;
  width: auto;
  height: 100%;
  dock: left;
  margin-right: 2;
}

#results {
  width: 100%;
  height: auto;
}

#results-container {
  background: $background 50%;
  margin: 0 0 1 0;
  height: 100%;
  overflow: hidden auto;
  border: tall $background;
  scrollbar-color: $primary-lighten-1;
  scrollbar-color-hover: $primary-lighten-1;
  scrollbar-color-active: $primary;
}
